/* You can add global styles to this file, and also import other style files */

$primary: #023047;
$secondary: #ffb703;
$dark: #219ebc;
$light: #8ecae6;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
