/* You can add global styles to this file, and also import other style files */

$primary: #023047;
$secondary: #ffb703;
$dark: #219ebc;
$light: #8ecae6;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
h1 {
    font-size: 1.2em;
    color: black;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

nav a:visited, a:link {
    color: #607D8B;
}

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

nav a.active {
    color: #039be5;
}
button {
    background-color: dodgerblue;
    color: black;
}
button:hover {
    background-color: #8ecae6;
}